<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333793343250-pg9o0i43609036emk3oha4rl21l83g4b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333793343250-pg9o0i43609036emk3oha4rl21l83g4b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>333793343250-9kmerjk7tdtldriil4ueccuib5uvv3ru.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCKvnroWrBwwSv8-RmCB3n2v6YuaEWIIJg</string>
	<key>GCM_SENDER_ID</key>
	<string>333793343250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zm.co.roadguard</string>
	<key>PROJECT_ID</key>
	<string>eworkers-33518</string>
	<key>STORAGE_BUCKET</key>
	<string>eworkers-33518.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333793343250:ios:be7c5e85a423bcf1a3e5cb</string>
</dict>
</plist>