<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260201140681-roep8jga6rktpb21o4oi015i3hju1fdp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260201140681-roep8jga6rktpb21o4oi015i3hju1fdp</string>
	<key>API_KEY</key>
	<string>AIzaSyChIZws9Aj7SkESNP88mLF2aI9olqNaXJo</string>
	<key>GCM_SENDER_ID</key>
	<string>260201140681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zm.co.roadguard.app</string>
	<key>PROJECT_ID</key>
	<string>road-user-alert-system</string>
	<key>STORAGE_BUCKET</key>
	<string>road-user-alert-system.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260201140681:ios:c2c82166ea30156d881818</string>
</dict>
</plist>